<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom:8px">
  <div class="col-9">
    <h4 style="color:gray; margin-botton:4px">{{job['title']}}</h4>
    <div><b>Location: </b>{{job['location']}}</div>
    {%if 'salary' in job%}
      <div><b>Salary: </b>{{job['salary']}}</div>
    {%endif%}
  </div>
  <div class="col-2">
    <a href="mailto:nguyen@gmail.com?cc=cc la gi vay&bcc=bcc la gi vay&subject=subject%20la%20gi%20vay&body=body%20la%20gi%20vay" type="button" class="btn btn-outline-primary">Primary</a>
  </div>
</div>